# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
env/
.venv/
.env

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
.metadata

# Logs
*.log
